---
import Browse from "./Browse/Browse.svelte";
import Connectivity from "./Connectivity/Connectivity.svelte";
import Stats from "./Stats/Stats.svelte";
---

<div class=":uno: mx-4 flex gap-2">
  <!-- @ts-ignore -->
  <Connectivity client:load />
</div>
<Stats client:load />
<Browse client:load pageCount={12} />
