---
import Logo from "~/assets/logo.svg"
---

<nav class=":uno: border-(b-1 border) h-16 w-full">
  <div class=":uno: mx-auto px-4 flex gap-2 h-full max-w-5xl items-center justify-center sm:justify-start">
      <a class=":uno: flex gap-2 h-full items-center" href="/">
        <Logo class=":uno: size-10" />
        <h1 class=":uno: text-xl font-extrabold hidden sm:block">Oxylume</h1>
      </a>
  </div>
</nav>
