---
import Footer from "./Footer.astro"
import Header from "./Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Oxylume</title>
    <meta property="og:title" content="Oxylume" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://oxylume.site/" />
    <meta property="og:image" content="https://oxylume.site/og.png" />
  </head>
  <body class=":uno: min-h-screen flex flex-col">
    <Header />
    <main
      class=":uno: mx-auto max-w-5xl w-full flex flex-1 flex-col gap-2 py-2"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --background: #1a2b3c;
    --primary: #f2f2f2;
    --secondary: #899db2;
    --accent: #fae8b4;
    --border: #45576a;
  }

  body {
    @apply bg-background text-primary;
  }
</style>
